/* Body styling for the entire page */
body {
    margin: 35px 70px;
    padding: 0;
    background-image: url(batman\ logo.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 100vh;
    overflow: hidden;
}

/* Styling for header and content sections */
#main-container header, #main-container section {
    background-color: white;
}

/* Header styling */
header {
    border: 1px solid #000;
    text-align: center;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 5px solid #00aeff;
}

header h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
}

/* Styling for the animated background of h1 */
header h1 {
    border: none;
    position: relative;
    width: 420px;
    height: 150px;
    padding: 0;
    z-index: 2;
    -webkit-mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='868' width='2500' viewBox='0 0 726 252.17'%3E%3Cpath d='M483.92 0S481.38 24.71 466 40.11c-11.74 11.74-24.09 12.66-40.26 15.07-9.42 1.41-29.7 3.77-34.81-.79-2.37-2.11-3-21-3.22-27.62-.21-6.92-1.36-16.52-2.82-18-.75 3.06-2.49 11.53-3.09 13.61S378.49 34.3 378 36a85.13 85.13 0 0 0-30.09 0c-.46-1.67-3.17-11.48-3.77-13.56s-2.34-10.55-3.09-13.61c-1.45 1.45-2.61 11.05-2.82 18-.21 6.67-.84 25.51-3.22 27.62-5.11 4.56-25.38 2.2-34.8.79-16.16-2.47-28.51-3.39-40.21-15.13C244.57 24.71 242 0 242 0H0s69.52 22.74 97.52 68.59c16.56 27.11 14.14 58.49 9.92 74.73C170 140 221.46 140 273 158.57c69.23 24.93 83.2 76.19 90 93.6 6.77-17.41 20.75-68.67 90-93.6 51.54-18.56 103-18.59 165.56-15.25-4.21-16.24-6.63-47.62 9.93-74.73C656.43 22.74 726 0 726 0z'/%3E%3C/svg%3E") no-repeat 50% 50%;
    mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='868' width='2500' viewBox='0 0 726 252.17'%3E%3Cpath d='M483.92 0S481.38 24.71 466 40.11c-11.74 11.74-24.09 12.66-40.26 15.07-9.42 1.41-29.7 3.77-34.81-.79-2.37-2.11-3-21-3.22-27.62-.21-6.92-1.36-16.52-2.82-18-.75 3.06-2.49 11.53-3.09 13.61S378.49 34.3 378 36a85.13 85.13 0 0 0-30.09 0c-.46-1.67-3.17-11.48-3.77-13.56s-2.34-10.55-3.09-13.61c-1.45 1.45-2.61 11.05-2.82 18-.21 6.67-.84 25.51-3.22 27.62-5.11 4.56-25.38 2.2-34.8.79-16.16-2.47-28.51-3.39-40.21-15.13C244.57 24.71 242 0 242 0H0s69.52 22.74 97.52 68.59c16.56 27.11 14.14 58.49 9.92 74.73C170 140 221.46 140 273 158.57c69.23 24.93 83.2 76.19 90 93.6 6.77-17.41 20.75-68.67 90-93.6 51.54-18.56 103-18.59 165.56-15.25-4.21-16.24-6.63-47.62 9.93-74.73C656.43 22.74 726 0 726 0z'/%3E%3C/svg%3E") no-repeat 50% 50%;
    -webkit-mask-size: 100%;
    /* -webkit-box-shadow: 100%; */
    background-color: transparent;
    transform: translateY(8px)
}

header h1:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: 0px 0 0 0 white;
    transition: all 2s ease-in-out;
}

/* Styling for hover effect on header h1 */
header h1:hover:after {
    box-shadow: 0px -13px 56px 12px #ffffffa6;
}

/* Styling for header h1 span element */
header h1 span {
    position: absolute;
    width: 100%;
    font-size: 45px;
    font-weight: 100;
    left: 50%;
    top: 39%;
    letter-spacing: 3px;
    text-align: center;
    transform: translate(-50%,-50%);
    color: black;
    transition: all 2s ease-in-out;
}

/* Styling for hover effect on header h1 span */
header h1:hover span {
    color: white;
}

header h1:before {
    content: '';
    position: absolute;
    width: 0;
    height: 100%;
    background-color: black;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: all 1s ease-in-out;
}

header h1:hover:before {
    width: 100%;
}

/* Styling for hover effect on header h1 */
header h1:hover {
    background-color: rgba(119, 136, 153, 0.704);
    transition: background-color 0.5s ease-in;
}

/* Styling for hover effect on header h1 and content section */
header h1:hover #content-section {
    background-color: red;
}

/* Styling for the content section */
#content-section {
    padding: 0;
    border: 5px solid #00aeff;
    /* border-radius: 3px; */
}

/* Styling for the input field */
input{
    color: rgb(112, 210, 255);
    margin: 15px;
    border: none;
    border-bottom: 3px solid lightslategrey;
    padding: 10px;
    width: 50%;
    font-size: 18px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-sizing: border-box;
}

input:focus {
    border: none;
    outline: 3px solid #00aeff;
    color: #000;
}

input::placeholder{
    color: rgb(69, 90, 100, 0.4)    
}

/* Styling for the to-do list */
#content-section ul {
    font-family: 'Raleway', sans-serif;
    list-style-type: none;
    font-size: 28px;
    color: beige;
    padding: 0;
    margin: 0;
}

/* Styling for each to-do list item */
#content-section ul li {
    padding: 20px 0;
    background-color: #37474f;
    display: flex;
    align-items: center;
    justify-content: space-between;
    scroll-behavior: smooth;
}

/* Styling for span within each to-do list item */
#content-section ul li span {
    padding-right: 15px;
}

/* Styling for alternating background color of to-do list items */
#content-section ul li:nth-child(2n){
	background-color: #455a64;
}

/* Styling for the last to-do list item */
#content-section ul li:last-of-type{
    padding-bottom: 15px;
}

/* Styling for icons (trash and check) within each to-do list item */
.fa-trash, .fa-check-to-slot {
    color: #00aeff;
    padding: 0 20px;
    transition: scale 0.2s ease;
}

/* Styling for hover effect on icons within to-do list items */
.fa-trash:hover, .fa-check-to-slot:hover {
    cursor: pointer;
    scale: 1.2;
}

/* Styling for completed tasks */
.task-cleared {
    color: gray;
    text-decoration: line-through;
}
